<div>
  <button class="primary-color cursor-pointer p-5" (click)="addCounter()">Add Counter</button>
  <button class="primary-color cursor-pointer p-5" (click)="resetCounters()">Reset Counters</button>
  <div *ngFor="let counter of counters; let i = index" class="counter-line">
    <span>Count: <span class="blue-bg p-5 radius-5">{{ counter.count }}</span></span>
    <button class="cursor-pointer p-5" (click)="incrementCounter(i)">Increment</button>
    <button class="cursor-pointer p-5" (click)="decrementCounter(i)">Decrement</button>
    <button class="cursor-pointer p-5 bg-red" (click)="deleteCounter(i)">Delete</button>
  </div>
</div>
