<!-- weather-app.component.html -->
<div class="weather-app">
  <div class="left-panel">
    <div class="location-search">
      <input [(ngModel)]="city" placeholder="Enter City" />
      <button (click)="addCity()">+</button>
    </div>
    <p>Recent locations </p>
    <hr>
    <div class="location-search" *ngFor="let location of recentLocations; let i = index">
      <span class="location">{{ location.city }}</span>
      <button (click)="refreshWeather(location)">Refresh</button>
      <button (click)="removeCity(i)">X</button>
    </div>
    <button (click)="clearAll()">Clear All</button>
  </div>
  <div class="right-panel">
    <div *ngFor="let location of recentLocations">
      <h2>{{ location.city }}</h2>
      <p>{{ location.temperature }}</p>
      <p>{{ location.weatherStatus }}</p>
      <p>Wind: {{ location.wind }}</p>
      <p>Pressure: {{ location.pressure }}</p>
      <button (click)="refreshWeather(location)">Refresh Forecast</button>

      <div style="display: flex;justify-content: space-between;">
        <div *ngFor="let forecast of location.forecast">
         <p>{{ forecast.date | date:'d E' }}</p>
          <p>{{ forecast.temperature }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
